ADMIN_EMAIL=
ADMIN_JWT_KEY=
ADMIN_PASSWORD=
ADMIN_WJT_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_AI_GATEWAY=
CLOUDFLARE_API_TOKEN=
GEMINI_API_KEY=
GITHUB_TOKEN=
OPENAI_API_KEY=
PORT=3000
RESEND_API_KEY=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
WORKER_SECRET=